// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'admin_variables';
//fontawesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    font-size: 1rem;
}
body>div{
    min-height: 100vh;
}
.feather {
    width: auto;
    height: 1.4em;
    vertical-align: text-bottom;
    margin-right: 0.8em;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #212120;
    width: 260px;
    display: block;
    font-weight: 200;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: 100vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #ccc;
    margin: 10px 0;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.5s;
}
.sidebar .nav-link:hover{
    opacity: 1;
}

.sidebar .nav-link .feather {
    color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

[role="main"] {
    background-color: #f4f3ef;
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100vh;
    overflow: auto;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
    }
}

.table {
    tr {
        th.name {
            width: max-content;
            max-width: 50px;
        }
        th.email {
            width: max-content;
            max-width: 60px;
        }
        th.phone {
            width: max-content;
            max-width: 40px;
        }
        th.edit {
            width: 30px;
        }
        th.address {
            width: auto;
        }
    }
}
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    border: none;
}